*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //line-height: 0.6;
}

.container {
  max-width: #{$container-max-width}px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: calc(((100% - #{$container-max-width}px) / 2) + #{$aside-width}px);
  height: #{$header-height}px;
  width: calc(#{$container-max-width}px - #{$aside-width}px);
  background-color: $header-bg-color;
  border-bottom: $border;
  border-right: $border;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aside {
  position: fixed;
  top: 0;
  width: #{$aside-width}px;
  background-color: $aside-bg-color;
  color: $aside-font-color;
  bottom: 0;
}

.main {
  background-color: $main-bg-color;
  margin-left: #{$aside-width}px;
  margin-top: #{$header-height}px;
  min-height: calc(100vh - #{$header-height}px);
  //overflow: auto;
  padding: 18px 0;
}
