*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: #{$container-max-width}px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  height: #{$header-height}px;
  background-color: $header-bg-color;
  border-bottom: $border;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: calc(100vw - #{$aside-width}px);
}

.aside {
  position: fixed;
  top: 0;
  width: #{$aside-width}px;
  background-color: $aside-bg-color;
  color: $aside-font-color;
  bottom: 0;
}

.main {
  background-color: $main-bg-color;
  margin-left: #{$aside-width}px;
  margin-top: #{$header-height}px;
  min-height: calc(100vh - #{$header-height}px);
  padding: 18px 0;
}
